<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homeverse - Our Value</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="C:\Users\DELL\Desktop\Real Estate Project\web pages\style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>

<section class="features">
    <div class="container">

      <p class="section-subtitle">Our Aminities</p>

      <h2 class="h2 section-title">Building Aminities</h2>

      <ul class="features-list">

        <li>
          <a href="#" class="features-card">

            <div class="card-icon">
              <ion-icon name="car-sport-outline"></ion-icon>
            </div>

            <h3 class="card-title">Parking Space</h3>

            <div class="card-btn">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>

          </a>
        </li>

        <li>
          <a href="#" class="features-card">

            <div class="card-icon">
              <ion-icon name="water-outline"></ion-icon>
            </div>

            <h3 class="card-title">Swimming Pool</h3>

            <div class="card-btn">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>

          </a>
        </li>

        <li>
          <a href="#" class="features-card">

            <div class="card-icon">
              <ion-icon name="shield-checkmark-outline"></ion-icon>
            </div>

            <h3 class="card-title">Private Security</h3>

            <div class="card-btn">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>

          </a>
        </li>

        <li>
          <a href="#" class="features-card">

            <div class="card-icon">
              <ion-icon name="fitness-outline"></ion-icon>
            </div>

            <h3 class="card-title">Medical Center</h3>

            <div class="card-btn">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>

          </a>
        </li>

        <li>
          <a href="#" class="features-card">

            <div class="card-icon">
              <ion-icon name="library-outline"></ion-icon>
            </div>

            <h3 class="card-title">Library Area</h3>

            <div class="card-btn">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>

          </a>
        </li>

        <li>
          <a href="#" class="features-card">

            <div class="card-icon">
              <ion-icon name="bed-outline"></ion-icon>
            </div>

            <h3 class="card-title">King Size Beds</h3>

            <div class="card-btn">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>

          </a>
        </li>

        <li>
          <a href="#" class="features-card">

            <div class="card-icon">
              <ion-icon name="home-outline"></ion-icon>
            </div>

            <h3 class="card-title">Smart Homes</h3>

            <div class="card-btn">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>

          </a>
        </li>

        <li>
          <a href="#" class="features-card">

            <div class="card-icon">
              <ion-icon name="football-outline"></ion-icon>
            </div>

            <h3 class="card-title">Kid’s Playland</h3>

            <div class="card-btn">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>

          </a>
        </li>

      </ul>

    </div>
  </section>
  <!-- 
        - #CTA
      -->

  <section class="cta">
    <div class="container">

      <div class="cta-card">
          <div class="card-content">
              <h2 class="h2 card-title">Looking for a dream home?</h2>

              <p class="card-text">We can help you realize your dream of a new home</p>
          </div>

          <button class="btn cta-btn">
            <span>Explore Properties</span>

            <ion-icon name="arrow-forward-outline"></ion-icon>
          </button>
      </div>

    </div>
  </section>
  
  <!-- 
    - custom js link
  -->
  <script src="C:\Users\DELL\Desktop\Real Estate Project\web pages\script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <br>
  <a href="index.html">Properties</a>
</body>

</html>