<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homeverse - About Us Page</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="C:\Users\DELL\Desktop\Real Estate Project\web pages\style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
    <main>
        <article>
   <!-- 
        - #ABOUT
      -->

            <section class="about" id="about">
                <div class="container">

                    <figure class="about-banner">
                        <img src="C:\Users\DELL\Desktop\web pages\about-banner-1.png" alt="House interior">

                        <img src="C:\Users\DELL\Desktop\web pages\about-banner-2.jpg" alt="House interior" class="abs-img">
                    </figure>

                <div class="about-content">

                    <p class="section-subtitle">About Us</p>

                    <h2 class="h2 section-title">The Leading Real Estate Rental Marketplace.</h2>

                    <p class="about-text">
                        Over 39,000 people work for us in more than 70 countries all over the This breadth of global coverage,
                        combined with
                        specialist services
                    </p>

                    <ul class="about-list">

                        <li class="about-item">
                            <div class="about-item-icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </div>

                            <p class="about-item-text">Smart Home Design</p>
                        </li>

                        <li class="about-item">
                            <div class="about-item-icon">
                                <ion-icon name="leaf-outline"></ion-icon>
                            </div>

                            <p class="about-item-text">Beautiful Scene Around</p>
                        </li>

                        <li class="about-item">
                            <div class="about-item-icon">
                                <ion-icon name="wine-outline"></ion-icon>
                            </div>

                            <p class="about-item-text">Exceptional Lifestyle</p>
                        </li>

                        <li class="about-item">
                            <div class="about-item-icon">
                                <ion-icon name="shield-checkmark-outline"></ion-icon>
                            </div>

                            <p class="about-item-text">Complete 24/7 Security</p>
                        </li>

                    </ul>

                    <p class="callout">
                        "Enimad minim veniam quis nostrud exercitation
                        llamco laboris. Lorem ipsum dolor sit amet"
                    </p>

                    

                </div>

            </div>
        </section>
        </article>
    </main>
        <!-- 
        - custom js link
        -->
    <script src="C:\Users\DELL\Desktop\Real Estate Project\web pages\script.js"></script>

        <!-- 
        - ionicon link
        -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <br>
        <a href="index.html">About</a>
</body>
</html>
